<h2>Green Company</h2>

<ol>
  <% @divisions.each() do |division| %>
  <li><a href='/division/<%= division.id() %>'><%= division.name() %></a></li>
  <% end %>
</ol>




<form action='/' method= 'post'>
  <div class= "form-group">
    <label for= 'division'>Add a new division</label>
    <input id= 'name' name='name' type='text' class='form-control'>

</br>
    <button type="submit" class="btn btn-info">Add</button>
  </div>
</form>
